@media only screen and (max-width: 740px) {

    .ContactButton {
        width: 300px;
        height: 50px;
        margin: 10px 0 0 0;
        border: 3px solid #000;
        border-radius: 5px;
        color:  #000;
        background-color: #fff;
        font-size: 18px;
        animation-name: FormValid;
        animation-duration: 1s;
    }
    
    .ContactButton:hover{
        background-color: #08bf08;
        cursor: pointer;
    }
    
    .ContactButtonDissabled {
        width: 300px;
        height: 50px;
        margin: 10px 0;
        border: 3px solid #000;
        border-radius: 5px;
        color:  #000;
        font-size: 18px;
        cursor: not-allowed;
        background-color: #ccc;
    }
    
    @keyframes FormValid {
        0% {background-color: #ccc;}
        70% { font-size: 22px}
        100% {background-color: #fff;}
    }
}

@media only screen and (min-width: 741px) {

    .ContactButton {
        width: 650px;
        margin: auto!important;
        height: 80px;
        border: 5px solid #000;
        color:  #000;
        background-color: #fff;
        font-size: 30px;
        animation-name: FormValid;
        animation-duration: 1s;
    }
    
    .ContactButton:hover{
        background-color: #08bf08;
        cursor: pointer;
    }
    
    .ContactButtonDissabled {
        width: 650px;
        margin: auto!important;
        height: 80px;
        margin: 10px 0 0 0;
        border: 5px solid #000;
        color:  #000;
        font-size: 30px;
        cursor: not-allowed;
        background-color: #ccc;
    }
    
    @keyframes FormValid {
        0% {background-color: #ccc;}
        70% { font-size: 35px}
        100% {background-color: #fff;}
    }
}


