.SizeOfIcon {
    font-size: 50px;
}

.CenterDown {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    animation: mainIn 2s;
}

.Color {
    color: #fff!important;
}

.Color:hover{
    color: #000!important;
    animation: none;
}

  