@import url('https://fonts.googleapis.com/css2?family=Codystar&display=swap');

@media only screen and (max-width: 600px) {



  .Kaluza {
    color: #CC0000;
  }


  .DEV {
    color: #fff;
  }

  
  #Main p {
    font-size: 40px;
    font-weight: 800;
    font-family: 'Codystar', cursive;
    -webkit-animation: mainIn 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: mainIn 2s; /* Firefox < 16 */
    -ms-animation: mainIn 2s; /* Internet Explorer */
    -o-animation: mainIn 2s; /* Opera < 12.1 */
    animation: mainIn 2s;
  }
  
  
  @keyframes mainIn {
    0%  { opacity: 0; font-size: 20px }
    80% { opacity: 0.7; font-size: 40px; color: #fff; }
    100% { font-size: 40px }
  }
  
  
  /* Firefox < 16 */
  @-moz-keyframes mainIn {
    0%  { opacity: 0; font-size: 20px }
    80% { opacity: 0.7; font-size: 40px; color: #fff; }
    100% { font-size: 40px }
  }
  
  
  
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes mainIn {
    0%  { opacity: 0; font-size: 20px }
    80% { opacity: 0.7; font-size: 40px; color: #fff; }
    100% { font-size: 40px }
  }
  
  
  /* Internet Explorer */
  @-ms-keyframes mainIn {
    0%  { opacity: 0; font-size: 20px }
    80% { opacity: 0.7; font-size: 40px; color: #fff; }
    100% { font-size: 40px }
  }
  
  
  /* Opera < 12.1 */
  @-o-keyframes mainIn {
    0%  { opacity: 0; font-size: 20px }
    80% { opacity: 0.7; font-size: 40px; color: #fff; }
    100% { font-size: 40px }
  }
}

@media only screen and (min-width: 601px) {

  .Kaluza {
    color: #CC0000;
  }

  .Kaluza:hover {
    color: #fff;
  }

  .DEV {
    color: #fff;
  }

  .DEV:hover {
    color: #CC0000;
  }


  #Main p {
    font-size: 140px;
    font-weight: 800;
    font-family: 'Codystar', cursive;
    -webkit-animation: mainIn 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: mainIn 2s; /* Firefox < 16 */
    -ms-animation: mainIn 2s; /* Internet Explorer */
    -o-animation: mainIn 2s; /* Opera < 12.1 */
    animation: mainIn 2s;
  }


  @keyframes mainIn {
    0%  { opacity: 0; font-size: 100px }
    80% { opacity: 0.7; font-size: 140px; color: #fff; }
    100% { font-size: 140px }
  }


  /* Firefox < 16 */
  @-moz-keyframes mainIn {
    0%  { opacity: 0; font-size: 100px }
    80% { opacity: 0.7; font-size: 140px; color: #fff; }
    100% { font-size: 140px }
  }



  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes mainIn {
    0%  { opacity: 0; font-size: 100px }
    80% { opacity: 0.7; font-size: 140px; color: #fff; }
    100% { font-size: 140px }
  }


  /* Internet Explorer */
  @-ms-keyframes mainIn {
    0%  { opacity: 0; font-size: 100px }
    80% { opacity: 0.7; font-size: 140px; color: #fff; }
    100% { font-size: 140px }
  }


  /* Opera < 12.1 */
  @-o-keyframes mainIn {
    0%  { opacity: 0; font-size: 100px }
    80% { opacity: 0.7; font-size: 140px; color: #fff; }
    100% { font-size: 140px }
  }

}

@media (max-width:1400px) and (min-width:601px) {

  #Main p {
    font-size: 70px;
    font-weight: 800;
    font-family: 'Codystar', cursive;
    -webkit-animation: mainIn 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: mainIn 2s; /* Firefox < 16 */
    -ms-animation: mainIn 2s; /* Internet Explorer */
    -o-animation: mainIn 2s; /* Opera < 12.1 */
    animation: mainIn 2s;
  }
  
  
  @keyframes mainIn {
    0%  { opacity: 0; font-size: 50px }
    80% { opacity: 0.7; font-size: 80px; color: #fff; }
    100% { font-size: 70px }
  }
  
  
  /* Firefox < 16 */
  @-moz-keyframes mainIn {
    0%  { opacity: 0; font-size: 50px }
    80% { opacity: 0.7; font-size: 80px; color: #fff; }
    100% { font-size: 70px }
  }
  
  
  
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes mainIn {
    0%  { opacity: 0; font-size: 50px }
    80% { opacity: 0.7; font-size: 80px; color: #fff; }
    100% { font-size: 70px }
  }
  
  
  /* Internet Explorer */
  @-ms-keyframes mainIn {
    0%  { opacity: 0; font-size: 50px }
    80% { opacity: 0.7; font-size: 80px; color: #fff; }
    100% { font-size: 70px }
  }
  
  
  /* Opera < 12.1 */
  @-o-keyframes mainIn {
    0%  { opacity: 0; font-size: 50px }
    80% { opacity: 0.7; font-size: 80px; color: #fff; }
    100% { font-size: 70px }
  }
}




