@media only screen and (max-width: 740px) {
  .body {
    background-color: #000;
  }

  .App {
    height: 100%;
    width: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #Navbar {
    height: 40px;
    position: absolute;
  }
  
  
  #Main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  #AboutMe {
    background-color: #000;
    color: white;
    height: 800px;
  }
  
  #Technologies {
    background: linear-gradient(180deg, #000000 40.00%, #fff 40.01%);
    height: 1650px;
  }
  
  #Footer {
    background: linear-gradient(180deg, #fff 630px, #000 631px);
    color: white;
    height: 950px;
  }
}

@media only screen and (min-width: 741px) {
  .App {
    height: 100%;
    width: 100%;
  }
  
  #Navbar {
    width: 100%;
    height: 60px;
    position: absolute;
  }
  
  
  #Main {
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #AboutMe {
    background-color: #000;
    color: white;
    height: 100%;
  }
  
  #Technologies {
    background: linear-gradient(180deg, #000000 40.00%, #fff 40.01%);
    height: 100%;
  }
  
  #Footer {
    background: linear-gradient(180deg, #fff 75.00vh, #000 75.01vh);
    color: white;
    height: 110%;
    padding-top: 60px;
  }
}

