@media only screen and (max-width: 600px) {
  .App {
    height: 100%;
    width: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #MobileNavbar {
    width: 100vw;
    height: 40x;
    position: "fixed";
    background-color: #000000;
  }
  
  
  #Main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  #AboutMe {
    background-color: #000;
    color: white;
    height: 100%;
    width: 100vw;
  }
  
  #Technologies {
    background: linear-gradient(180deg, #000000 40.00%, #fff 40.01%);
    height: 1500px;
    width: 100vw;
  }
  
  #Footer {
    background: linear-gradient(180deg, #fff 630px, #000 631px);
    color: white;
    height: 1000px;
    width: 100vw;
  }
}

@media only screen and (min-width: 601px) {
  .App {
    height: 100%;
    width: 100%;
  }
  
  #DestkopNavbar {
    width: 100vw;
    height: 60px;
  }
  
  
  #Main {
    color: white;
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  #AboutMe {
    background-color: #000;
    color: white;
    height: 100vh;
    width: 100vw;
  }
  
  #Technologies {
    background: linear-gradient(180deg, #000000 40.00%, #fff 40.01%);
    height: 100vh;
    width: 100vw;
  }
  
  #Footer {
    background: linear-gradient(180deg, #fff 75.00vh, #000 75.01vh);
    color: white;
    height: 120vh;
    width: 100vw;
    padding-top: 60px;
  }
}

