@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');

.Logo {
  display: flex;
  justify-content: center;
  font-family: 'Wallpoet', cursive;
}

@media only screen and (max-width: 750px) {
  .Kaluza {
    visibility: hidden;
  }
  .MobileLogo {
    font-family: "Wallpoet", cursive;
  }

  .KaluzaMain {
    font-size: 38px;
    color: #fff;
  }

  .DEVMain{
    font-size: 38px;
    color: #000000;
  }

  .KaluzaMobileNav, .DEVMobileNav {
    font-size: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 0 0 0 10px;
  }

  .KaluzaMobileNav{
    color: #ffffff;
  }

  .DEVMobileNav, .DEVFooter {
    color: #cc0000;
    padding: 0;
    margin: 0;
  }

  .KaluzaFooter, .DEVFooter {
    font-size: 30px;
    margin: 0;
  }

  #Main p {
    animation: mainIn 2s;    
  }

  .SocSitesMain {
    animation: mainIn 2s;
  }
}

@media only screen and (min-width: 751px) {

  #Main p {
    font-weight: 800;
    font-family: 'Wallpoet', cursive;
    animation: mainIn 2s;
  }

  .KaluzaMain {
    font-size: 140px;
    color: #fff;
  }

  .DEVMain{
    font-size: 140px;
    color: #000000;
  }

  .KaluzaDesktopNav, .DEVDesktopNav {
    font-size: 36px;
    padding: 0 0 0 20px;
    margin: 0;
  }

  .KaluzaDesktopNav{
    color: #ffffff;
  }

  .DEVDesktopNav, .DEVFooter {
    color: #cc0000;
    padding: 0;
  }

  .KaluzaFooter, .DEVFooter {
    font-size: 50px;
    margin: 0;
  }
}

@media (max-width:1400px) and (min-width:751px) {

  .KaluzaMain {
    font-size: 70px;
  }

  .DEVMain{
    font-size: 70px;
  }

  .KaluzaFooter {
    font-size: 50px;
  }
  
}

@keyframes mainIn {
  0%  { opacity: 0}
  50% { opacity: 0; color: #fff; }
  75% { opacity: 0.7; color: #fff; }
  100% { opacity: 1;}
}

